## Week 3 Part 1

In [1]:
import pandas as pd
import numpy as np
import requests

In [2]:
url="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"

In [3]:
page = requests.get(url)

In [4]:
pageHTML = pd.read_html(page.content, header = 0)

In [5]:
len(pageHTML)

3

In [6]:
pageHTML[0]

    Postal Code  ...                                      Neighbourhood
0           M1A  ...                                       Not assigned
1           M2A  ...                                       Not assigned
2           M3A  ...                                          Parkwoods
3           M4A  ...                                   Victoria Village
4           M5A  ...                          Regent Park, Harbourfront
..          ...  ...                                                ...
175         M5Z  ...                                       Not assigned
176         M6Z  ...                                       Not assigned
177         M7Z  ...                                       Not assigned
178         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...
179         M9Z  ...                                       Not assigned

[180 rows x 3 columns]

In [7]:
type(pageHTML)

list

In [8]:
type(pageHTML[0])

pandas.core.frame.DataFrame

Need to remove boroughs where it is Not Assigned

In [9]:
df = pageHTML[0]

In [10]:
df.shape

(180, 3)

In [11]:
df = df[df["Borough"] != "Not assigned"]

In [12]:
df.shape

(103, 3)

In [13]:
df.reset_index(drop=True, inplace = True)

In [14]:
df.columns

Index(['Postal Code', 'Borough', 'Neighbourhood'], dtype='object')

In [15]:
df.index

RangeIndex(start=0, stop=103, step=1)

In [16]:
df.index.name

In [17]:
df.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government